* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  height: 30px;
  display: flex;
  background-color: #f7f7f7; /* 背景色 */;
  align-items: center;
  padding: 0px;
}

.left-bar,
.right-bar {
  width: 320px;
  background-color: #f7f7f7; 
}
.center-bar {
  flex: 1; 
  background-color: white; 
}

.container {
  display: flex; 
  height: 100vh; 
  width: 100vw; 
}

.sub-container {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 90px;
  width: 100vw; 
  height: calc(100vh - 90px);
  flex:1
}

.left-panel,
.right-panel {
  width: 320px;
  background-color: #f7f7f7; 
  flex-shrink: 0;
  display: flex; 
  justify-content: center;
}

.center-panel {
  height: inherit;
  flex: 1;
  background-color: white;
}

.sub-left-panel,
.sub-right-panel {
  width: 320px;
  background-color: #f7f7f7; 
  flex-shrink: 0;
  display: flex; 
  justify-content: center;
}

.sub-center-panel {
  height: 100%;
  flex: 1;
}

.button-bar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content:center;
  flex-shrink: 0;
  gap:45px;
  width: 100%;
}

.btn-gray {
  width: 44px;
  height: 44px;
  background-color: #cacaca20;
  box-shadow: 0px 4px 4px 0px rgba(159, 159, 159, 0.558);
  border-radius: 6px;
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.btn-gray:hover {
  cursor: pointer;
  border-radius: 6px;
  background: #d9d7d7;
  box-shadow: 0px 2px 2px 0px rgba(144, 139, 139, 0.558);
  transform: translateY(2px);
  transition: 0.2s;
}
.btn-gray:active { 
    transform: translateY(4px);
    box-shadow: 0px 1px 2px 0px rgba(110, 107, 107, 0.558);
  }

/* 全局样式文件（如 src/assets/css/scrollbar.css） */

/* 整个滚动条轨道 */
::-webkit-scrollbar {
  width: 10px;  /* 垂直滚动条宽度 */
  height: 10px; /* 水平滚动条高度 */
  background: #f5f5f5;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}


/* 激活状态（点击拖动时） */
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}

/* 滚动条轨道背景 */
::-webkit-scrollbar-track {
  background: white;
}

/* 滚动条角落区域 */
::-webkit-scrollbar-corner {
  background: white;
}